<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Privacy:</b>
  <%= @project.privacy %>
</p>

<p>
  <b>Nb stars:</b>
  <%= @project.nb_stars %>
</p>

<p>
  <b>User:</b>
  <%= @project.user.name %>
</p>

<%= link_to 'World Maker', user_project_worldmaker_path(@project.user, @project) %> | 
<%= link_to 'Edit', edit_user_project_path(@project.user, @project) %> | 
<%= link_to 'Back', user_path(@project.user) %>
