<%= form_for User.new, remote: true do |f| %>
  <p><center id="message">fill your informations</center></p>
  <div class="field">
    <%= f.text_field :name, size: UsersController.input_size, placeholder: "name" %>
    <center class="field-error"></center>
  </div>
  <div class="field">
    <%= f.password_field :password, size: UsersController.input_size, placeholder: "password" %>
    <center class="field-error"></center>
  </div>
  <div class="field" >
    <%= f.password_field :password_confirmation, size: UsersController.input_size, placeholder: "confirmation" %>
    <center class="field-error"></center>
  </div>
  <div class="field">
    <%= f.text_field :email, placeholder: "email" %>
    <center class="field-error"></center>
  </div>
  <div class="actions pull-right">
    <%= f.submit "Sign Up", class: "btn" %>
  </div>
<% end %>
