.row-fluid
	%div(class="span3 smallstat box mobileHalf" ontablet="span6" ondesktop="span3")
		%i(class="icon-cogs blue")
		%span(class="title")Projects
		%span(class="value")
			= @current_user.projects.length

	%div(class="span3 smallstat box mobileHalf" ontablet="span6" ondesktop="span3")
		%i(class="icon-star yellow")
		%span(class="title")Followers
		%span(class="value") 0

	%div(class="span3 smallstat box mobileHalf" ontablet="span6" ondesktop="span3")
		%i(class="icon-eye-open green")
		%span(class="title")Views
		%span(class="value") 0

	%div(class="span3 smallstat box mobileHalf" ontablet="span6" ondesktop="span3")
		%i(class="icon-comments red")
		%span(class="title")Comments
		%span(class="value") 0

.row-fluid
	%div(class="box span8")
		%div(class="smallchart")
			%b
				.title(style="color:black;") Projects
		.box-content
			%a{"ngx-open-modal" => "#create-project-modal"}
				%i(class="icon-plus-sign-alt")
				create project

			#create-project-modal.modal.hide.fade{"ngx-modal" => "view_create_project_modal", :tabindex => "-1"}
				%div{"ngx-modal-header" => "'Create project'"}
				%form{"ngx-close-modal" => "", "ngx-submit" => "create_project()"}
					Name: 
					%input{"id" => "name", "ng-model" => "input_project.name", :placeholder => "Name", :type => "text",
					"style" => "color:black !important;"}
					%br
					Privacy: 
					#privacy
						%input{:name => "privacy", :type => "radio", :value => "public", :checked => ""} Public
						%input{:name => "privacy", :type => "radio", :value => "private"} Private
					.modal-footer
						%input.btn{"ngx-close-modal" => "", :type => "button", :value => "Cancel"}
						%input.btn.btn-primary{:type => "submit", :value => "Add"}

			%table(class="table table-striped")
				%thead
					%tr
						%th Name
						%th Date of creation
						%th Privacy
						%th Status
				%tbody
					- @current_user.projects.each do |p|
						%tr
							%td
								= link_to("#{p.name}", "/#users/#{@current_user.name}/projects/#{p.name}")
							%td(class="center")
								= p.created_at
							%td(class="center")
								= p.privacy
							%td(class="center")
								%span(class="label label-warning")In Development

	%div(class="box chat span4" style="float:right;")
		.box-header
			%h2
				%i(class="icon-list")
				Message Box
		.conversation(style="float:right;width:100%")
			.actions
				%img(class="avatar" src="assets/avatar.jpg")
				%img(class="avatar" src="assets/avatar3.jpg")
				%img(class="avatar" src="assets/avatar4.jpg")
			%ul(class="talk")
				%li
					%img(class="avatar" src="assets/avatar3.jpg")
					%span(class="name")Sarah Croche
					%span(class="time")1:32PM
					.message
						Wooow your Message Box is so cool !
			.form
				=form_tag("/fakepath", remote: true) do
					=text_field_tag('message', '', class: 'write-message input-large', placeholder: 'Leave a message')
