<% content_for :head do %>
  <%= stylesheet_link_tag "worldmaker" %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag "underscore.min" %>
  <%= javascript_include_tag "kjs" %>
  <%= javascript_include_tag "jquery.event.drag-2.2" %>
  <%= javascript_include_tag "angular" %>
  <%= javascript_include_tag "kangular" %>
  <%= javascript_include_tag "kge/js/cocos2d" %>
  <%= javascript_include_tag "kge/js/box2d" %>
  <%= javascript_include_tag "kge/js/kge" %>
  <%= javascript_include_tag "worldmaker" %>
<% end %>

<div ng-app="app" ng-controller="AppController" ngx-keydown="key_actions($event)">
<div id="worldmaker">

  <!-- level-view -->
  <div id="level-view" class="inline-top well well-small" ng-controller="LevelController">
    <div class="line-top top">
      <button id="save" class="btn btn-inverse btn-small" ngx-shortcut="shift+83"
        ngx-disabled="game_state != 'stop'" ng-click="save_world()">{{ saving || 'save' }}</button>
    </div>

    <form class="line-top top" ng-submit="create_level()">
      <input class="input-thin" type="text" ng-model="input_level_name" placeholder="level name"
        ngx-popover="error_level_name" ngx-popover-placement="top"/>
      <button class="btn icon-add btn-icon pull-right" ngx-tooltip="'create level'"></button>
    </form>

    <!-- level-list -->
    <div id="level-list" class="accordion">
      <div class="accordion-group" ng-repeat="l in world.levels" ngx-hover="view.level_over[$index]">
        <div class="accordion-heading">
          <a ngx-accordion-toggle class="accordion-toggle">{{ l.name | stroke:20 }}</a>
          <div class="btn-accordion">
            <button class="btn btn-icon-tiny icon-add" ngx-tooltip="'create entity'"
              ng-show="view.level_over[$index]" ng-click="create_entity(l)"></button>
            <button class="btn btn-icon-tiny icon-delete label-input" ngx-tooltip="'delete level'"
              ng-show="view.level_over[$index]" ng-click="delete_level(l)"></button>
          </div>
          <span class="caret"></span>
        </div>
        <div class="accordion-body collapse" ngx-events="hidden shown" ngx-first="in"
          ngx-on-hidden="select_level(null)" ngx-on-shown="select_level(l)">
          <div class="accordion-inner">
            <ul>
              <li class="entity" ng-class="{selected: e == entity}"
                ng-repeat="e in level.entities" ngx-hover="view.entity_over[$index]">
                <a href ng-click="select_entity(e)">{{ e.name }}</a>
                <button id="delete" ng-show="view.entity_over[$index]" ng-click="delete_entity(level, e)"
                  class="btn btn-icon-tiny icon-delete pull-right" ngx-tooltip="'delete entity'"></button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- !level-list -->

  </div>
  <!-- !level-view -->      

  <!-- game-view -->
  <div id="game-view" class="inline-top well well-small" ng-controller="GameController">
    <div id="menu" class="line-top top">
      <div class="btn-group" ngx-radio ng-model="view_mode" ngx-all-disabled="game_state == 'play'">
        <button class="btn btn-inverse btn-small active" ngx-disabled="!level" ngx-shortcut="shift+81">camera</button>
        <button class="btn btn-inverse btn-small" ngx-disabled="!level || !entity" ngx-shortcut="shift+87">entity</button>
      </div>
      <div class="btn-group pull-right" ngx-radio ng-model="$parent.game_state" ngx-all-disabled="!level">
        <button ngx-shortcut="shift+49" class="btn btn-inverse btn-small">play</button>
        <button ngx-shortcut="shift+50" class="btn btn-inverse btn-small">pause</button>
        <button ngx-shortcut="shift+51" class="btn btn-inverse btn-small">stop</button>
      </div>
    </div>

    <!-- canvas-view -->
    <div id="canvas-view" class="line-top bot" ng-mousemove="mousemove($event)" ngx-events="mousewheel dragstart drag dragend click"
      ngx-on-mousewheel="wheel($event)" ngx-on-dragstart="dragstart($event)" ngx-on-drag="drag($event, $attr)"
      ngx-on-click="click($event)" ngx-on-dragend="dragend($event)"></div>
    <!-- !canvas-view -->

  </div>
  <!-- !game-view -->

  <!-- menu-view -->
  <div id="menu-view" class="inline-top well well-small" ng-controller="MenuController">
    <ul id="tabs" class="nav nav-tabs" ngx-tab="tab">
      <li ngx-disabled="!entity || run == 'play'"><a href ngx-tab-pane="#tab-entity">entity</a></li>
      <li ngx-disabled="!level || run == 'play'"><a href ngx-tab-pane="#tab-level">level</a></li>
      <li><a href ngx-tab-pane="#tab-classes">classes</a></li>
      <li><a href ngx-tab-pane="#tab-models">models</a></li>
      <li><a href ngx-tab-pane="#tab-bodies">bodies</a></li>
    </ul>
    <div class="tab-content">

      <!-- tab-entity -->
      <div class="tab-pane" id="tab-entity" ngx-all-disabled="!entity || game_state == 'play'">

        <!-- section-charac -->
        <div id="section-charac" class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" href="#collapse-charac">characteristics</a>
            <span class="caret pull-right caret-section"></span>
          </div>
          <div class="accordion-body collapse in" id="collapse-charac">
            <div class="accordion-inner">
              <div class="line-top top semi-bot">
                <span>enabled: </span>
                <input ng-model="entity.enabled" type="checkbox" class="pull-right"/>
              </div>
              <div class="line-top">
                <span>name: </span>
                <input ng-model="entity.name" class="input-thin pull-right" type="text" placeholder="name"/>
              </div>
              <div class="line-top">
                <span>classes: </span>
                <select ng-select="class in classes" class="btn-inverse pull-right" placeholder="none"></select>
              </div>
              <div class="line-top">
                <span class="label-input">x: </span>
                <input ng-model="entity.position.x" type="number" step="5"/>
                <div class="line-right">
                  <span class="label-input">scale x: </span>
                  <input ng-model="entity.scale.x" type="number" step="0.1"/>
                </div>
              </div>
              <div class="line-top bot">
                <span class="label-input">y: </span>
                <input ng-model="entity.position.y" type="number" step="5"/>
                <div class="line-right">
                  <span class="label-input">scale y: </span>
                  <input ng-model="entity.scale.y" type="number" step="0.1"/>
                </div>
              </div>
              <div class="line-top bot clearfix">
                <input ng-model="entity.rotation" class="pull-right " type="number" step="5"/>
                <span class="pull-right label-input">rotation: </span>
              </div>
            </div>
          </div>
        </div>
        <!-- !section-charac -->

        <!-- section-model -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" href="#collapse-model">model</a>
            <span class="caret pull-right caret-section"></span>
          </div>
          <div class="accordion-body collapse in" id="collapse-model">
            <div class="accordion-inner">
              <div class="line-top top semi-bot">
                <span>enabled: </span>
                <input ng-model="entity.model.enabled" type="checkbox" class="pull-right"/>
              </div>
              <div class="line-top top semi-bot">
                <span>visible: </span>
                <input ng-model="entity.model.visible" type="checkbox" class="pull-right"/>
              </div>
              <div class="line-top bot">
                <span>models: </span>
                <select ng-select="model in models" class="btn-inverse pull-right" placeholder="none"></select>
              </div>
            </div>
          </div>
        </div>
        <!-- !section-model -->

        <!-- section-body -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" href="#collapse-body">body</a>
            <span class="caret pull-right caret-section"></span>
          </div>
          <div class="accordion-body collapse in" id="collapse-body">
            <div class="accordion-inner">
              <div class="line-top top semi-bot">
                <span>enabled: </span>
                <input ng-model="entity.body.enabled" type="checkbox" class="pull-right"/>
              </div>
              <div class="line-top top bot">
                <span>visible: </span>
                <input ng-model="entity.body.visible" type="checkbox" class="pull-right"/>
              </div>
              <div class="line-top bot">
                <span>bodies: </span>
                <select ng-select="body in bodies" class="btn-inverse" placeholder="none"></select>
              </div>
              <div class="line-top top bot">
                <span>type: </span>
                <select ng-options="body_type as body_type_name for (body_type, body_type_name) in body_types" ng-model="entity.body.type"
                class="btn-inverse" placeholder="none"></select>
              </div>
              <div class="line-top top bot">
                <span>fixtures: </span>
                <select ng-options="type_name for (type, type_name) in fixture_types"
                  ng-model="input_fixture_type" class="btn-inverse"></select>
                <button ng-click="create_fixture()" class="btn btn-mini btn-inverse">create</button>
              </div>

              <!-- fixture-list -->
              <div id="fixture-list" class="line-top top bot">
                <div class="accordion-group fixture" ng-repeat="fixture in entity.body.fixtures"
                  ngx-hover="view_hover_fixture" ng-class="{highlight: view_hover_fixture}"
                  ng-mouseenter="highlight_fixture(fixture, true)" ng-mouseleave="highlight_fixture(fixture, false)">
                  <div class="accordion-heading">
                    <a class="accordion-toggle inline-top" ngx-accordion-toggle>{{fixture_types[fixture.type]}}</a>
                    <div class="pull-right btn-accordion inline-top">
                      <button ng-click="delete_fixture(fixture)" ngx-tooltip="'delete ' + fixture_types[fixture.type]"
                        class="btn btn-icon-tiny icon-delete label-input" ng-show="view_hover_fixture"></button>
                    </div>
                    <span class="caret"></span>
                  </div>
                  <div class="accordion-body in">
                    <div class="accordion-inner" ng-include="fixture_types[fixture.type] + '-shape'"></div>
                  </div>
                </div>
              </div>
              <!-- !fixture-list -->

            </div>
          </div>
        </div>  
        <!-- !section-body -->

      </div>
      <!-- !tab-entity -->

      <!-- tab-level -->
      <div class="tab-pane" id="tab-level" ngx-all-disabled="!level">
        <div class="well well-small">
          <div class="line-top top">
            <span>name: </span>
            <input ng-model="level.name" class="input-thin pull-right" type="text" placeholder="name"/>
          </div>
          <div class="line-top">
            <span>camera: </span>
          </div>
          <div class="line-top">
            <span class="label-input">x: </span>
            <input ng-model="level.camera.position.x" type="number" step="5"/>
            <input ng-model="level.camera.scale" class="pull-right" type="number" step="0.1"/>
            <span class="pull-right label-input">scale: </span>
          </div>
          <div class="line-top">
            <span class="label-input">y: </span>
            <input ng-model="level.camera.position.y" type="number" step="5"/>
            <input ng-model="level.camera.rotation" class="pull-right" type="number" step="5"/>
            <span class="pull-right label-input">rotation: </span>
          </div>
          <div class="line-top bot">
            <div>
              <span class="label-input">model layers: </span>
              <button ng-click="toggle_layers('model')" class="btn btn-inverse btn-tiny">toggle</button>
            </div>
            <div class="pull-right">
              <span class="label-input">body layers: </span>
              <button ng-click="toggle_layers('body')" class="btn btn-inverse btn-tiny">toggle</button>
            </div>
          </div>
        </div>
      </div>
      <!-- !tab-level -->

      <!-- tab-classes -->
      <div class="tab-pane" id="tab-classes">
        <div class="well well-small">
        </div>
      </div>
      <!-- !tab-classes -->

      <!-- !tab-models -->
      <div class="tab-pane" id="tab-models">
        <div class="well well-small">
          <ul class="media-grid"></ul>
        </div>
      </div>
      <!-- !tab-models -->

      <!-- !tab-bodies -->
      <div class="tab-pane" id="tab-bodies">
        <div class="well well-small">
        </div>
      </div>
      <!-- !tab-bodies -->

    </div>
  </div>
  <!-- menu-view -->

  <div id="debug" class="well well-small">
    <canvas width="640px" heigh="480px"></canvas>
  </div>

</div>

<!-- circle-shape -->
<script type="text/ng-template" id="circle-shape">
  <div class="line-top top">
    <span class="label-input">x: </span>
    <input ng-model="fixture.position.x" type="number" step="5"></input>
    <input class="pull-right" ng-model="fixture.position.y" type="number" step="5"></input>
    <span class="pull-right label-input">y: </span>
  </div>
  <div class="line-top">
    <span class="label-input">friction: </span>
    <input ng-model="fixture.friction" type="number" step="0.1"></input>
    <input ng-model="fixture.density" class="pull-right" type="number" step="0.1"></input>
    <span class="pull-right label-input">density: </span>
  </div>
  <div class="line-top bot">
    <span class="label-input">restit...: </span>
    <input ng-model="fixture.restitution" type="number" step="0.1"></input>
    <input ng-model="fixture.shape.radius" class="pull-right" type="number" step="1"></input>
    <span class="pull-right label-input">radius: </span>
  </div>
</script>
<!-- !circle-shape -->

<!-- polygon-shape -->
<script type="text/ng-template" id="polygon-shape">
  <div class="line-top top">
    <span class="label-input">x: </span>
    <input ng-model="fixture.position.x" type="number" step="5"></input>
    <input ng-model="fixture.position.y" class="pull-right" type="number" step="5"></input>
    <span class="label-input pull-right">y: </span>
  </div>
  <div class="line-top">
    <span class="label-input">friction: </span>
    <input ng-model="fixture.friction" type="number" step="0.1"></input>
    <input ng-model="fixture.density" class="pull-right" type="number" step="0.1"></input>
    <span class="pull-right label-input">density: </span>
  </div>
  <div class="line-top">
    <span class="label-input">restitution: </span>
    <input ng-model="fixture.restitution" type="number" step="0.1"></input>
  </div>
  <div class="line-separator"></div>
  <div class="vertice-list">
    <div class="line-top bot" ng-repeat="vertex in fixture.shape.vertices" ngx-hover="view_show_delete_vertex">
      <span class="label-input">x: </span>
      <input ng-model="vertex.x" type="number" step="5"></input>
      <span id="pos-y" class="label-input">y: </span>
      <input ng-model="vertex.y" type="number" step="5"></input>
      <button ng-click="delete_vertex(fixture, vertex)" ngx-visible="view_show_delete_vertex"
        class="btn btn-icon-tiny icon-delete label-input pull-right" ngx-tooltip="'delete vertex'"></button>
    </div>
  </div>
</script>
<!-- polygon-shape -->

</div>
