  <!DOCTYPE html>
  <html lang="en">
  <head>
    
    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>AGB - Development plateform </title>
    <meta name="description" content="SimpliQ - Flat & Responsive Bootstrap Admin Template.">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="SimpliQ, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <!-- end: Meta -->
    
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    
    <!-- start: CSS -->
    <%= stylesheet_link_tag "bootstrap.min.css" %>
    <%= stylesheet_link_tag "bootstrap-responsive.min.css" %>
    <%= stylesheet_link_tag "style.min.css" %>
    <%= stylesheet_link_tag "style-responsive.min.css" %>
    <%= stylesheet_link_tag "retina.css" %>
    <%= stylesheet_link_tag "font-awesome.min.css"%>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,300"%>
    <!-- end: CSS -->
    

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"%>
      <link id="ie-style" href="css/ie.css" rel="stylesheet">
    <![endif]-->
    
    <!--[if IE 9]>
      <link id="ie9style" href="css/ie9.css" rel="stylesheet">
    <![endif]-->
    
    <!-- start: Favicon and Touch Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="ico/favicon.png">
    <!-- end: Favicon and Touch Icons --> 
    <%= yield :head %>
      
  </head>

  <body>
      <!-- start: Header -->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a id="main-menu-toggle" class="hidden-phone open"><i class="icon-reorder"></i></a>   
          <div class="row-fluid">
          <a class="brand span2" href="index.html"><span>Alpha Game Builder</span></a>
          </div>    
          <!-- start: Header Menu -->
          <div class="nav-no-collapse header-nav">
            <ul class="nav pull-right">
              <li class="dropdown hidden-phone">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="icon-warning-sign"></i>
                </a>
                <ul class="dropdown-menu notifications">
                  <li class="dropdown-menu-title">
                    <span>You have ?? notifications</span>
                  </li> 
                  <li>
                    <a href="#">
                      <span class="icon blue"><i class="icon-user"></i></span>
                      <span class="message">Notification example</span>
                      <span class="time">yesterday</span> 
                    </a>
                  </li>
                  <li class="dropdown-menu-sub-footer">
                    <a>View all notifications</a>
                  </li> 
                </ul>
              </li>
              <!-- start: Notifications Dropdown -->
              <li class="dropdown hidden-phone">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="icon-tasks"></i>
                </a>
                <ul class="dropdown-menu tasks">
                  <li>
                    <span class="dropdown-menu-title">You have ?? tasks in progress</span>
                  </li>
                  <li>
                    <a href="#">
                      <span class="header">
                        <span class="title">New blog posts</span>
                        <span class="percent"></span>
                      </span>
                      <div class="taskProgress progressSlim progressPink">80</div> 
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-menu-sub-footer">View all tasks</a>
                  </li> 
                </ul>
              </li>
              <!-- end: Notifications Dropdown -->
              <!-- start: Message Dropdown -->
              <li class="dropdown hidden-phone">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="icon-envelope"></i>
                </a>
                <ul class="dropdown-menu messages">
                  <li>
                    <span class="dropdown-menu-title">You have ?? messages</span>
                  </li> 
                  <li>
                    <a href="#">
                      <span class="avatar"><%= image_tag("avatar5.jpg")%></span>
                      <span class="header">
                        <span class="from">Jane Sanders</span>
                        <span class="time">Jul 25, 2012</span>
                      </span>
                      <span class="message">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                      </span>  
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-menu-sub-footer">View all messages</a>
                  </li> 
                </ul>
              </li>
              <!-- end: Message Dropdown -->
              <li>
                <a class="btn" href="#">
                  <i class="icon-wrench"></i>
                </a>
              </li>
              <!-- start: User Dropdown -->
              <li class="dropdown">
                <a class="btn account dropdown-toggle" data-toggle="dropdown" href="#">
                  <div class="avatar"><%= image_tag("avatar.jpg") %></div>
                  <div class="user">
                    <span class="hello">Welcome!</span>
                    <span class="name">Łukasz Holeczek</span>
                  </div>
                </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-menu-title">
                    
                  </li>
                  <li><a href="#"><i class="icon-user"></i> Profile</a></li>
                  <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
                  <li><a href="#"><i class="icon-envelope"></i> Messages</a></li>
                  <li><a href="login.html"><i class="icon-off"></i> Logout</a></li>
                </ul>
              </li>
              <!-- end: User Dropdown -->
            </ul>
          </div>
          <!-- end: Header Menu -->
          
        </div>
      </div>
    </div>
    <!-- start: Header -->
    
      <div class="container-fluid-full">
      <div class="row-fluid">
          
        <!-- start: Main Menu -->
        <div id="sidebar-left" class="span2">
          
          <div class="row-fluid actions">
                            
            <input type="text" class="search span12" placeholder="...">
          
          </div>  
          
          <div class="nav-collapse sidebar-nav">
            <ul class="nav nav-tabs nav-stacked main-menu">
              <li><a href="index.html"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li> 
              <li><a href="ui.html"><i class="icon-eye-open"></i><span class="hidden-tablet"> UI Features</span></a></li>
              <li><a href="widgets.html"><i class="icon-dashboard"></i><span class="hidden-tablet"> Widgets</span></a></li>
              <li>
                <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Example Pages</span> <span class="label">3</span></a>
                <ul>
                  <li><a class="submenu" href="infrastructure.html"><i class="icon-hdd"></i><span class="hidden-tablet"> Infrastructure</span></a></li>
                  <li><a class="submenu" href="messages.html"><i class="icon-envelope"></i><span class="hidden-tablet"> Messages</span></a></li>
                  <li><a class="submenu" href="tasks.html"><i class="icon-tasks"></i><span class="hidden-tablet"> Tasks</span></a></li>
                </ul> 
              </li>
            </ul>
          </div>
        </div>
        <!-- end: Main Menu -->
              
        <!-- start: Content -->
        <div id="content" class="span10">

        <%= yield %>
            
        </div>
        <!-- end: Content -->
          
          </div><!--/fluid-row-->
          
      <div class="modal hide fade" id="myModal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3>Settings</h3>
        </div>
        <div class="modal-body">
          <p>Here settings can be configured...</p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn" data-dismiss="modal">Close</a>
          <a href="#" class="btn btn-primary">Save changes</a>
        </div>
      </div>
      
      <div class="clearfix"></div>
      
      <footer>
        <p>
          <span style="text-align:left;float:left">&copy; 2013 <a href="http://bootstrapmaster.com" alt="Bootstrap Themes">Alpha Game Builder</a></span>
          <span class="hidden-phone" style="text-align:right;float:right">Powered by: <a href="http://admintemplates.co" alt="Bootstrap Admin Templates">SimpliQ</a></span>
        </p>

      </footer>
          
    </div><!--/.fluid-container-->

    <!-- start: JavaScript-->
    <%= javascript_include_tag "jquery-1.9.1.min.js"%>
    <%= javascript_include_tag "jquery-migrate-1.0.0.min.js"%>  
    <%= javascript_include_tag "jquery-ui-1.10.3.custom.min.js"%> 
    <%= javascript_include_tag "jquery.ui.touch-punch.js"%> 
    <%= javascript_include_tag "modernizr.js"%> 
    <%= javascript_include_tag "bootstrap.min.js"%> 
    <%= javascript_include_tag "jquery.cookie.js"%> 
    <%= javascript_include_tag 'fullcalendar.min.js'%>  
    <%= javascript_include_tag 'jquery.dataTables.min.js'%>
    <%= javascript_include_tag "excanvas.js"%>
    <%= javascript_include_tag "jquery.flot.js"%>
    <%= javascript_include_tag "jquery.flot.pie.js"%>
    <%= javascript_include_tag "jquery.flot.stack.js"%>
    <%= javascript_include_tag "jquery.flot.resize.min.js"%>
    <%= javascript_include_tag "jquery.flot.time.js"%>
      
    <%= javascript_include_tag "gauge.min.js"%>
    <%= javascript_include_tag "jquery.chosen.min.js"%> 
    <%= javascript_include_tag "jquery.uniform.min.js"%>    
    <%= javascript_include_tag "jquery.cleditor.min.js"%> 
    <%= javascript_include_tag "jquery.noty.js"%> 
    <%= javascript_include_tag "jquery.elfinder.min.js"%> 
    <%= javascript_include_tag "jquery.raty.min.js"%> 
    <%= javascript_include_tag "jquery.iphone.toggle.js"%>  
    <%= javascript_include_tag "jquery.uploadify-3.1.min.js"%>  
    <%= javascript_include_tag "jquery.gritter.min.js"%>  
    <%= javascript_include_tag "jquery.imagesloaded.js"%> 
    <%= javascript_include_tag "jquery.masonry.min.js"%>  
    <%= javascript_include_tag "jquery.knob.modified.js"%>  
    <%= javascript_include_tag "jquery.sparkline.min.js"%>  
    <%= javascript_include_tag "counter.min.js"%> 
    <%= javascript_include_tag "raphael.2.1.0.min.js"%>
    <%= javascript_include_tag "justgage.1.0.1.min.js"%>  
    <%= javascript_include_tag "jquery.autosize.min.js"%> 
    <%= javascript_include_tag "retina.js"%>
    <%= javascript_include_tag "jquery.placeholder.min.js"%>
    <%= javascript_include_tag "wizard.min.js"%>
    <%= javascript_include_tag "core.min.js"%>  
    <%= javascript_include_tag "charts.min.js"%>  
    <%= javascript_include_tag "custom.min.js"%>
    <!-- end: JavaScript-->

    <%= yield :javascript %>
    
  </body>
  </html> 